body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

h1 {
  font-size: 1  36px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

.project-container {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}
